@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #10D9E0;
    /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color on hover */
}

.en-tete-test {
    font-size: 15px;
}

.body-test {
    width: 98%;
    margin-top: 100px;
}

.andrana {
    margin-top: 5%;
    overflow-y: scroll;
    height: 75vh;
}

.navbar {
    background-color: black;
    width: 100%;
}

.listbiblio {
    width: 100%;
    /* height: 70%; */
}

.logo {
    color: #10D9E0;
}
.acc1 {
    color: #10D9E0;
}
.bord{
    border-bottom: 5px solid #000;
}

.legende {
    font-family: 'Poppins', sans-serif !important;
}

.acc {
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
}

.texte {
    font-size: 5em;
}

.web-legende {
    text-align: justify;
}

.multimedia {
    color: white;
    background-color: rgba(3, 20, 20, 0.865);
    padding: 4%;
    padding-bottom: 10vh !important;
    box-shadow: 0 0 9px;
    border-radius: 10px;
    width: 100%;

}

.titre {
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
}
.titreN {
    margin-top: -12.5em;
}
.titi{
    height: 3em;
    border-radius: 50%;
}
.tititi{
    font-size: 1.2em;
    padding-top: 0.1em;
}

.profil {
    font-family: 'Poppins', sans-serif !important;
}

.icon-web img {
    margin-right: 10%;
    height: 1.4cm;
}
.nos{
    margin-top: 0.1px;;
    border-top: 5px solid #10D9E0;
}
/* .anim{
    height: 25vh;
    width: 60%;
    box-shadow: 50px 0 50px -9px #10d9e0dc,
    -50px 0 50px -9px #10d9e0dc;
} */

.section-titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}
.equi{
    margin-left: 50%;
    transform: translateX(-50%);
}

.info {
    font-family: 'Poppins', sans-serif !important;
}

@media screen and (max-width:700px) {
    .section-titre {
        margin-bottom: 0% !important;
    }
    .tax{
      display: none !important;
    }
    .icon-web img {
        width: 40px;
        display: inline-table;
        margin-right: 2%;
    }
    .multimedia p{
      text-align: justify;
    }
    .titre{
      font-size: 1.2em !important;
    }
    #equipe{
      margin-bottom: -15vh;
    }
    .profil{
      background-color: rgba(3, 20, 20, 0.865);
      padding-top: 5vh;
     
    }
    .profil h4{
      color: white !important;
      margin-top: 2vh;
    }
    .titi{
      border-radius: 10px;
    }
    .app{
      text-align: justify;
    }
    .banner{
      background-position: left;
    }
    .titre{
      font-size: 2em;
      text-align: center;
    }
    .profil img{
      box-shadow: 0 0 7px #10D9E0;
      width: 80%;
      height: 40vh !important;
      border-radius: 10px !important;
    }
    .map{
      width: 100% !important;
      margin-bottom: 5vh;
    }
    .testimonials{
      width: 90%;
      margin-left:5%;
      margin-top: 2vh;
      padding: 4% !important;
    }
    #contact{
      height: 100vh !important;
      margin-bottom: 35vh;
    }
    .desc{
      padding: 5%;
    }
    .btn{
      display: block !important;
      background-color: #10D9E0;
      padding: 15px;
      border-radius: 9px;
      margin: 15%;
      margin-top: 7vh;
    }
    .texte {
        font-size: 2em;
    }
    .nous{
      margin-top: 25vh;
      width: 150% !important;
      text-align: center;
    }

    .info {
        font-size: 0.9em;
    }
    .menfoot{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width:820px) {
  #contact{
    height: 100vh !important;
  }
  .map{
    width: 100% !important;
    margin-bottom: 5vh;
  }
  .tax{
    display: none;
  }
  .nous{
    margin-top: 2vh;
    width: 145% !important;
    text-align: center;
  }
}
@media screen and (min-width:1000px) {
  .map{
    width: 100% !important;
  }
  #contact{
    margin-bottom: 10vh;
  }
}

.btn{
  display: none;
}

.containers {
    perspective: 1000px; /* Définit la perspective de la scène */
  }
  
  .tax {
    width: 70%;
    height: 40vh;
    background-color: #f0f0f0;
    box-shadow: 80px 0 50px -9px #10d9e0dc,
    -80px 0 50px -9px #10d9e0dc;
    transform-style: preserve-3d; 
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-15deg);
    /* transform: rotateY(30deg);  */
    transition: transform 0.5s ease;
    background-size: contain;
    animation: anim 15s linear infinite;
    background-position: center;
  }

  @keyframes anim {
    0% { background-image: url("https://img.freepik.com/photos-gratuite/systeme-html-pour-concept-sites-web_23-2150323522.jpg?size=626&ext=jpg");}
    35% { background-image: url("https://img.freepik.com/photos-gratuite/homme-affaires-utilisant-tablette-numerique_53876-108317.jpg?size=626&ext=jpg"); }
    65% { background-image: url("https://img.freepik.com/photos-gratuite/contexte-connexions-mondiales-pour-banniere-medias-sociaux_53876-108500.jpg?size=626&ext=jpg"); }
    100% { background-image: url("https://img.freepik.com/photos-gratuite/concept-equilibrage-appareils-electroniques_23-2150422318.jpg?size=626&ext=jpg"); }
  }


  .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 410px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 410px;
}

.gmap_iframe {
    height: 410px !important;
}










/* test porfolio */
.slider {
    width: 100%;
  }
  .slider input {
    display: none;
  }
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden;
  }
  .testimonials .item {
    padding-top: 2em;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5%;
    padding: 30px;
    width: 450px;
    height: 300px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
  }
  .testimonials .item img {
    width: auto;
    margin-top: -1em;
    height: 20vh;
    /* border: 13px solid #3B344D; */
  }
  .testimonials .item p {
    color: #000000;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2vh;
  }
  .testimonials .item h2 {
    font-size: 14px;
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
  }

  
  /* First */
  #t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 5;
  }
  #t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 4;
  }
  #t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 3;
  }
  #t-1:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 2;
  }
  #t-1:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
    z-index: 1;
  }
  #t-1:checked ~ .testimonials label[for="t-6"] {
    transform: translateX(1400px) translateZ(-450px) rotateY(-55deg);
  }


  /* Second */
  #t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  }
  #t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 4;
  }
  #t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
  }
  #t-2:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
  }
  #t-2:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 1;
  }
  #t-2:checked ~ .testimonials label[for="t-6"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-55deg);
  }


  /* Third */
  #t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  }
  #t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  }
  #t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 4;
  }
  #t-3:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
  }
  #t-3:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
  }
  #t-3:checked ~ .testimonials label[for="t-6"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  }


  /* Fourth */
  #t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  }
  #t-4:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    z-index: 3;
  }
  #t-4:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 3;
  }
  #t-4:checked ~ .testimonials label[for="t-4"] {
    z-index: 4;
  }
  #t-4:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
  }
  #t-4:checked ~ .testimonials label[for="t-6"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  }


  /* Fifth */
  #t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-5:checked ~ .dots label[for="t-6"] {
    transform: scale(1.5);
  }
  #t-5:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
  }
  #t-5:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
    z-index: 1;
  }
  #t-5:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    z-index: 2;
  }
  #t-5:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 3;
  }
  #t-5:checked ~ .testimonials label[for="t-5"] {
    z-index: 4;
  }
  #t-5:checked ~ .testimonials label[for="t-6"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
  }


  /* Fifth */
  #t-6:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
  }
  #t-6:checked ~ .dots label[for="t-6"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-6:checked ~ .testimonials label[for="t-1"] {   
    transform: translateX(-1400px) translateZ(-450px) rotateY(55deg);
}
#t-6:checked ~ .testimonials label[for="t-2"] {
      transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
    }
    #t-6:checked ~ .testimonials label[for="t-3"] {
      transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
      z-index: 2;
    }
    #t-6:checked ~ .testimonials label[for="t-4"] {
      transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    z-index: 3;
  }
  #t-6:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 4;
  }
  #t-6:checked ~ .testimonials label[for="t-6"] {
    z-index: 5;
  }
